@tailwind base;
@tailwind components;
@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@400..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=IM+Fell+Great+Primer+SC&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
.fontf-Inter{
  font-family: "Inter"
}
.fontf-Orbitron{
  font-family: "Orbitron"
}
.fontf-ImFell{
  font-family: "IM Fell Great Primer SC"
}
.mybtn{
  @apply text-white bg-gradient-to-br from-[#BC3CD8] to-[#C54B8C] px-6 py-3 rounded-md fontf-Inter
}
@tailwind utilities;
